
/* Navbar animation */
.navbar {
  background-color: #1C2331;  }

.top-nav-collapse {
  background-color: #1C2331; }


/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #1C2331; }

  body{
    background: url('../../img/guest/store/background.jpg') no-repeat center center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.2);
}
.card-producto-img-store{
  max-width: auto !important;
}

.card-producto-img-store > .card-body{
  bottom: 0 !important;
  background-color: aqua !important;
}
